body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Poppins, Bangers, sans-serif;
    margin: 0px;
    --small-vertical-padding: 14px;
    --small-horizontal-padding: 5%;
    --large-horizontal-padding: 20%;
}

.banner{
    display: flex;
    flex-direction: column;
}

.banner img{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    min-height: 100px;
    height: auto;
    /* aspect-ratio: 400 / 50; */
    width: 100%;
}


.header{
    /* --top-bar-height: 100px; */
    position: sticky;
    top: 0px;
    z-index: 2;
    padding: var(--small-vertical-padding) var(--small-horizontal-padding);
    /* height: var(--top-bar-height); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c76131;
}

.list ul{
    display: flex;
    white-space: nowrap;
}

.hamburger > .closeIcon{
    display: none;
}


button.hamburger{
    display: flex;
    background-color: #c76131;
    border: none;
    color: white;
    padding: 0;
    justify-content: left;
}
button .menuIcon, button .closeIcon{
    font-size: 48px;
}

.menu {
    position: fixed;
    align-items: center;
    padding: 0.5em 1.5em;
    transform: translateX(100%);
    transition: transform 0.2s;
    top: calc(var(--top-bar-height) + 10px);
    height: max(100px, 25%);
    right: 0;
    /* left: 0;
    bottom: 0; */
    z-index: 99;
    background: #c76131;
    border: 1px;
    border-radius: 10%;
}

.menu > ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.showMenu {
    transform: translateX(calc(-1*var(--small-horizontal-padding)));
}
  
  
.title{
    font-size: 48px;
    font-weight: bolder;
}

.top-links a{
    color: #587638;
}

.top-links{
    position: sticky;
    display: flex;
    flex-wrap: wrap;
    z-index: 3;
    background-color: white;
    gap: 10px;
    padding: var(--small-vertical-padding) var(--small-horizontal-padding);
    justify-content: space-between;
}

.middle, .gameDescription{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    background: #e3c6aa;
    padding: 50px var(--large-horizontal-padding);
}

.coreStatement{
    flex: 1;
    display: flex;
    gap: 21px;
    justify-content: space-between;
    align-items: center;
}

.coreStatement p {
    font-size: 32px;
    font-weight: bold;
}

.green-bar{
    height: 50px;
    min-width: 14px;
    background-color: #587638;
}

.middle-title{
    color: #c76131;
    font-size: 24px;
    font-weight: bold;
    margin: 35px 0;
}

.pillar-title{
    color: #587638;
    font-size: 20px;
}

.pillars{
    display: flex;
    gap: 8%;
    justify-content: space-between;
    align-items: center;
}

.Video{
    flex: 1;
    position: relative;
    width: 100%;
    /* width: clamp(200px, 100%, 560px); */
    padding-bottom: 56.25%;
    height: 0;
}

.Video iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.paragraph{
    flex: 1;
}

.footer{
    display: flex;
    flex-direction: column;
    background-color: #587638;
    justify-content: center;
    gap: var(--small-vertical-padding);
    align-items: center;  
    color: white;
    padding: var(--small-vertical-padding) var(--small-horizontal-padding);
}

.grid{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    text-align: center;
}

.footer-links{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}
.credit{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.credit .right{
    text-align: right;
}


li{
    text-align: center;
    padding: 0px;
    margin: 0px;
}

ul{
    list-style-type: none;
    padding: 0px;
}

a{
    text-decoration: none;
    color: white;
}

.flex-row{
    display: flex;
    gap: 3%;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 900px){
    .pillars{
        flex-direction: column;
        gap: 25px;
    }
    
    .coreStatement p {
        font-size: 24px;
        font-weight: 600;
    }

    button .menuIcon, button .closeIcon{
        font-size: 32px;
    }
    body{
        --small-vertical-padding: 9px;
        --large-horizontal-padding: 5%;
    }
    .title{
        font-size: 32px;
        font-weight: bolder;
    }
}