div.content p{
    margin: 1.5rem 10%;
}

.content .grid{
    gap: 16px;
}

.gameDescription{
    background-color: white;
}

.background-theme{
    display: flex;
    justify-content: space-between;
    gap: 5%;
}

.Background, .Trade-offs, .Length, .Thematic-backstory{
    flex: 1;
}


.trade-length{
    display: flex;
    justify-content: space-between;
    gap: 5%;
}

i.clockIcon{
    font-size: 100px;
    color: #587638;
}

.margin{
    margin: 15px 0;
}

.bold{
    font-weight: bold;
}

@media (max-width: 900px) {
    .background-theme, .trade-length{
        flex-direction: column;
    }
    
}